<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./../../templates/Trophies-Online-Offline-Templates/allTemplate.css">
<link rel="stylesheet" href="./../../templates/styles.css">
<title>Un Jugador</title>
</head>
<body>

    <div class="w-100" id="colorBack1" style="background: #192A56; height: 100%;  box-shadow: 0 0 100px 0px rgba(0,0,0,0.2) inset !important;">
        <!-- Esta es la textura de fondo -->
        <div class="textureBig w-100"></div>
        <!-- Este es el contenedor principal -->
        <div class="container p-4 d-flex">
            <div class="w-100 d-flex justify-content-center flex-column align-items-center" style="z-index: 1;">
                <div class="w-100 d-flex justify-content-start">
                    <div class="position-absolute d-flex flex-row align-items-center">
                        <!-- Aquí está el ícono de la flecha en la parte superior izquierda que sirve para regresar a la vista de las categorías, y la de una casa para regresar a la vista del main -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mainButton m-0" id="barra" style="border-radius:100px !important; border-width: 3px !important;">
                                <li class="breadcrumb-item"><a href="./offlineCategories.html" class="hvr-icon-grow-rotate" style="border-width: 4px !important; border-radius: 100px !important;"><i class="fa fa-arrow-left hvr-icon" style="font-size: 1.5em;"></i></a></li>
                                <li class="breadcrumb-item"><a href="./../main.html" class="hvr-icon-grow-rotate" style="border-width: 4px !important; border-radius: 100px !important;"><i class="fa fa-home hvr-icon" style="font-size: 1.5em;"></i> Menú</a></li>
                            </ol>
                        </nav>
                        <!-- Aquí está el nombre, la imagen y el nivel Online del usuario -->
                        <div class="mainButton p-2 pr-3 pl-3 ml-2 d-flex justify-content-start align-items-center" style="border-width: 4px !important; border-radius: 100px !important;">
                            <div class="d-flex justify-content-end align-items-start position-absolute" style="width: 42%;" id="OnlineLevel2">
                                
                            </div>
                            <div class="d-flex justify-content-center" style="width: 30px; height: 30px; border-radius: 100%; overflow: hidden;">
                                <img src="./../../../assets/user.gif" height="100%">
                            </div>
                            <h6 class="m-0 ml-2 nameUser"></h6>
                        </div>
                    </div>
                </div>
                <!-- Aquí están los puntos totales que ha obtenido en esta categoría -->
                <div class="w-100 d-flex justify-content-end">
                    <div class="mainButton mt-3 m-2 p-2 pr-3 pl-3 position-absolute" style="border-width: 4px !important; border-radius: 100px !important;"><h5 class="m-0">Puntos Totales: <strong>12327</strong></h5></div>                    
                </div>
                <!-- Este es el título de Creativa -->
                <div class="mainButton animated pulse infinite ad-3 m-2 p-2 pr-4 pl-4" style="border-width: 4px !important; border-radius: 100px !important;"><h3 class="m-0"><i class="fa fa-pencil"></i> Creativa</h3></div>
                <div class="w-50 mt-5">
                    <div>
                        <div class="row mainButton p-3 d-flex justify-content-center align-items-center" style="border-radius:50px !important; border-width:5px !important;">
                            <div class="w-100 d-flex justify-content-end">
                                <!-- Este es el botón que abre un modal con la información de este modo de juego(creativa) -->
                                <button class="levelsBack inGameButtons hvr-icon-grow-rotate mr-2" data-toggle="modal" data-target="#objectiveModal" style="color: #68472F !important;"><i class="fa fa-file-text hvr-icon"></i></button>
                                <!-- Este es el botón para abrir un Modal con los trofeos conseguidos en este modo de juego -->
                                <button class="levelsBack inGameButtons hvr-icon-grow-rotate" data-toggle="modal" data-target="#trophiesModal" style="color: #68472F !important;"><i class="fa fa-trophy hvr-icon"></i></button>
                            </div>
                            <!-- Este es el formulario con los dos inputs de números, para elegir el tamaño del tablero y cantidad de caballos para jugar -->
                            <form onsubmit="jugar(event)">
                                <div class="levelsBack mainButton p-3 m-4 d-flex justify-content-center align-items-center" style="border-radius:100px !important; border-width:5px !important">
                                    <h4 class="m-0 mr-2">Tablero: </h4>
                                    <input type="number" name="tabNumber1" class="form-control w-25" id="tabNumber1" value="5" placeholder="Número" required onkeyup="tablero()">
                                    <h4 class="m-0 ml-2" style="color: #68472F;">x <span class="m-0" style="color: #e0874b;" id="tabNumber2">5</<span></h4>
                                </div>

                                <div class="levelsBack mainButton p-3 m-4 d-flex justify-content-center align-items-center" style="border-radius:100px !important; border-width:5px !important">
                                    <h4 class="m-0 mr-2">Caballos: </h4>
                                    <input type="number" name="horseNumber" class="form-control w-25" id="horseNumber" value="5" placeholder="Número" required onkeyup="horse()">
                                    <div class="icon-small ml-2 d-flex justify-content-center align-items-center"><img src="./../../../assets/pieces/skyHorse.png" class="w-75"></div>
                                </div>

                                <!-- Este es el botón de play para jugar y abrir la información de cargando juego -->
                                <div class="w-100 d-flex justify-content-center mt-4 mb-4" id="playNow"><button type="submit" class="levelsBack mainButton p-2 d-flex justify-content-center align-items-center w-50 hvr-float hvr-icon-rotate" style="border-radius:100px !important; border-width:5px !important"><i class="fa fa-play hvr-icon" style="font-size: 1.5em;"></i></button></div>
                                <!-- Este es el botón de cancelar para volver al estado inicial de la vista -->
                                <div class="w-100 d-none justify-content-center mt-4 mb-4" id="cancel"><button type="button" class="levelsBack hoverDanger mainButton p-2 d-flex justify-content-center align-items-center text-danger w-50 hvr-float hvr-icon-rotate" style="border-radius:100px !important; border-width:5px !important"><i class="fa fa-close hvr-icon mr-2" style="font-size: 1.5em;"></i> Cancelar</button></div>

                                <!-- Este es el cuadro donde aparece el Cargando Juego... -->
                                <div class="w-100 mb-4 d-none" id="loading">
                                    <div class="container">
                                        <h5 class="text-center">Cargando Juego...</h5>
                                        <div class="progress-bar1 stripes1 animated1 reverse1 slower1">
                                            <span class="progress-bar-inner1"></span>
                                        </div>
                                    </div>
                                </div>    
                                
                            </form>
            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Este es el Modal de los Trofeos de este modo de juego -->
    <div class="modal fade" id="trophiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" style="color: #68472F;"><i class="fa fa-trophy"></i> Logros</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="mainButton p-2 d-flex justify-content-start flex-column align-items-center" style="height: 100%; background: #ffedce !important;">
                    <div class="position-fixed" style="margin-top: 260px; width: 462px; overflow: hidden; z-index: 2;">
                        <div style="margin-left: -100px; height: 20px; width: 600px; box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2) inset;"></div>
                    </div>
                    <div class="w-100 scroll-none position-relative mb-3" style="height: 280px; overflow: auto; z-index: 1;">
                        <div class="d-flex flex-row justify-content-start align-items-center mainButton p-1 m-1" style="border-radius: 100px !important;">
                            <div class="d-flex flex-row justify-content-end align-items-start position-absolute" style="width: 95%;">
                                <div class="mainButton text-success d-flex justify-content-center align-items-center p-1" style="margin-top: -20px;"><i class="fa fa-check"></i></div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center w-25 mr-2">
                                <img src="./../../../assets/trophiesIcons/star.png" class="w-50">
                            </div>
                            <div class="d-flex justify-content-center align-items-start flex-column pr-4">
                                <strong class="m-0" style="font-size:1em">Estrella</strong>
                                <p class="m-0" style="font-size:1em">Arma una Estrella en el cuadro de figuras</p>
                            </div>
                        </div>
                        <div class="disabledTrophy d-flex flex-row justify-content-start align-items-center mainButton p-1 m-1" style="border-radius: 100px !important;">
                            <div class="d-flex justify-content-center align-items-center w-25 mr-2">
                                <img src="./../../../assets/trophiesIcons/triangle.png" class="w-50">
                            </div>
                            <div class="d-flex justify-content-center align-items-start flex-column pr-4">
                                <strong class="m-0" style="font-size: 1em;">Triángulo</strong>
                                <p class="m-0" style="font-size:1em">Arma un Triángulo en el cuadro de figuras</p>
                            </div>
                        </div>
                        <div class="disabledTrophy d-flex flex-row justify-content-start align-items-center mainButton p-1 m-1" style="border-radius: 100px !important;">
                            <div class="d-flex justify-content-center align-items-center w-25 mr-2">
                                <img src="./../../../assets/trophiesIcons/square.png" class="w-50">
                            </div>
                            <div class="d-flex justify-content-center align-items-start flex-column pr-4">
                                <strong class="m-0" style="font-size: 1em;">Cuadrado</strong>
                                <p class="m-0" style="font-size:1em">Arma un Cuadrado en el cuadro de figuras</p>
                            </div>
                        </div>
                        <div class="disabledTrophy d-flex flex-row justify-content-start align-items-center mainButton p-1 m-1" style="border-radius: 100px !important;">
                            <div class="d-flex justify-content-center align-items-center w-25 mr-2">
                                <img src="./../../../assets/trophiesIcons/pyramid.png" class="w-50">
                            </div>
                            <div class="d-flex justify-content-center align-items-start flex-column">
                                <strong class="m-0" style="font-size: 1em;">Pirámide</strong>
                                <p class="m-0" style="font-size:1em">Arma una Pirámide en el cuadro de figuras</p>
                            </div>
                        </div>
                        <div class="disabledTrophy d-flex flex-row justify-content-start align-items-center mainButton p-1 m-1" style="border-radius: 100px !important;">
                            <div class="d-flex justify-content-center align-items-center w-25 mr-2">
                                <img src="./../../../assets/trophiesIcons/cube.png" class="w-50">
                            </div>
                            <div class="d-flex justify-content-center align-items-start flex-column">
                                <strong class="m-0" style="font-size: 1em;">Cubo</strong>
                                <p class="m-0" style="font-size:1em">Arma un Cubo en el cuadro de figuras</p>
                            </div>
                        </div>

                    </div>                                        
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Este es el modal de las instrucciones de juego -->
    <div class="modal fade" id="objectiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" style="color: #68472F;"><i class="fa fa-file-text"></i> Instrucciones</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="mainButton p-2 d-flex justify-content-center flex-column align-items-center" style="height: 100%; background: #ffedce !important;">
                    <div class="w-100 d-flex justify-content-center align-items-center" style="height: 250px; overflow: hidden; border-radius: 25px !important; box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);">
                        <img src="./../../../assets/creativeMode.jpg" class="w-100">
                    </div>
                    <h5 class="m-0 text-center w-75 mt-2">Puedes moverte libremente en el tablero y formar las figuras que quieras.<br>
                    No tienes ningún límite!<br>
                    <strong>¡Buena Suerte!</strong></h5>                                         
                </div>
            </div>
        </div>
        </div>
    </div>

<script src="../../templates/Trophies-Online-Offline-Templates/allTemplate.js"></script>
<script src="./../../controllers/Offline/creativeOfflineController.js"></script>
</body>
</html>